/* page */
body {
    background: var(--Very-Dark-Blue);
}

.page {
    /* centralizando pagina inteira */
    display: flex;
    justify-content: center;
    align-items: center;

    /* limitando width */
    padding: 2rem;

    /* pegando 100% da pagina do body */
    height: inherit;

}

/* COMPONENT */
.component {
    /* adicionando espaçamento entre elementos do component */
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    max-width: 45rem;
    
    padding: 2rem;
    gap: 2rem;
    background: var(--Dark-Blue);
}

.component .header {
    /* adicionando background a estrela */
    width: fit-content;
    padding: 1.5rem;
    border-radius: 100%;
    background: var(--Light-Grey);
}

.component .header img {
    /* limitando width do img de .header */
    width: 2rem;
}

.component .text h1 {
    color: var(--White);
    font-size: var(--fts-h1);
}

.component .text p {
    font-size: var(--fts-p);
}

.component .rate ul {
    display: flex;
    justify-content: space-between;
}