/* page */
body {
    background: var(--Very-Dark-Blue);
}

.page {
    /* centralizando pagina inteira */
    display: flex;
    justify-content: center;
    align-items: center;

    /* limitando width */
    padding: 2rem;

    /* pegando 100% da pagina do body */
    height: inherit;

}

/* COMPONENT */
.component {
    /* adicionando espaçamento entre elementos do component */
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    max-width: 45rem;
    
    padding: 2.5rem 2rem;
    border-radius: 3rem;
    gap: 3rem;
    background: var(--Dark-Blue);
}

/* .HEADER */
.component .header {
    /* adicionando background a estrela */
    width: fit-content;
    padding: 1.5rem;
    border-radius: 100%;
    background: var(--Light-Grey);
}

.component .header img {
    /* limitando width do img de .header */
    width: 2rem;
}

/* .TEXT */

.component .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.component .text h1 {
    font-size: var(--fts-h1);
    color: var(--White);
}

.component .text p {
    font-size: var(--fts-p);
    color: var(--Medium-Grey);
}

/* .RATE */
.component .rate ul {
    display: flex;
    justify-content: space-between;
}

.component .rate ul li button{
    color: var(--Medium-Grey);
    background: var(--Light-Grey);
    border-radius: 100%;
    padding: 1.5rem;
    width: 5rem;
    transition:  0.3s ease-in-out;
}

.component .rate ul li button:hover {
    background: hsl(217, 12%, 63%);
    color: var(--White);
    cursor: pointer;
}



/* .SUBMIT */
.component .submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component .submit button{
    width: 100%;
    padding: 1.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: var(--Orange);
    color: var(--White);
    transition: 0.3s ease-in-out;
}

.submit button:hover {
    cursor: pointer;
    background: var(--White);
    color: var(--Orange);
}

/* SUBMITED */

.submited {
    text-align: center;
}

.submited section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.submited section img {
    width: 15rem;
}

.submited section:first-child p {
    background: var(--Light-Grey);
    color: var(--Orange);
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 3px 0px #000000f0;
    width: 25rem;
}

.thankYou {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thankYou h1 {
    font-size: var(--fts-h1);
    color: var(--White);
}



/* script */

.active {
    background: var(--Orange) !important;
    color: var(--White) !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}